<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Fashi Template">
    <meta name="keywords" content="Fashi, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jhaanjhariya</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/themify-icons.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css">
    
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header-section">
    <div class="header-top">
        <div class="container">
            <div class="header-icons-container">
                <div class="ht-left">
                    <div class="mail-service">
                        <i class="fa fa-envelope"></i>
                        jhaanjhariya@gmail.com
                    </div>
                    <div class="phone-service">
                        <i class="fa fa-phone"></i>
                        +91 8547740038
                    </div>
                </div>

                <div class="ht-right">
                    <% if (!user) { %>
                    <!-- User is not logged in -->
                    <a href="/login" class="login-panel">
                        <i class="fa fa-user"></i> Login
                    </a>
                    <% } else { %>
                    <!-- User is logged in -->
                    <div class="user-panel">
                        <span class="user-name">Hello, <%= user.fname %></span>
                        <a href="/logout" class="logout-panel"  onclick="confirmLogout()">
                            <i class="fa fa-sign-out"></i> Logout
                        </a>
                    </div>
                    <% } %> 

                    <div class="lan-selector">
                        <select class="language_drop" name="countries" id="countries" style="width:300px;">
                            <option value='yt' data-image="/assets/img/flag-1.jpg" data-imagecss="flag yt"
                                data-title="English">English</option>
                            <option value='yu' data-image="/assets/img/flag-2.jpg" data-imagecss="flag yu"
                                data-title="Bangladesh">German </option>
                        </select>
                    </div>

                    <div class="top-social">
                        <a href="#"><i class="ti-facebook"></i></a>
                        <a href="#"><i class="ti-twitter-alt"></i></a>
                        <a href="#"><i class="ti-linkedin"></i></a>
                        <a href="#"><i class="ti-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<style>
    .header-icons-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .ht-left,
    .ht-right {
        display: flex;
        align-items: center;
    }

    .user-panel {
        display: flex;
        align-items: center;
        margin-right: 20px; /* Adjust margin as needed */
    }

    .user-name {
        margin-right: 10px;
    }

    .logout-panel {
        font-size: 14px;
        text-decoration: none;
        color: #333; /* Adjust color as needed */
    }

    .lan-selector,
    .top-social {
        margin-left: auto; /* Push these elements to the right */
    }
</style>


        <div class="container">
            <div class="inner-header">
                <div class="row">
                    <div class="col-lg-2 col-md-2">
                        <div class="logo">
                            <a href="./index.html">
                                <img src="/assets/img/jhaanjhariya logo-color.png" alt="">
                            </a>
                        </div>    
                    </div>
                    <div class="col-lg-7 col-md-7">
                        <div class="advanced-search">
                            <button type="button" class="category-btn">All Categories</button>
                            <form action=" " class="input-group">
                                <input type="text" placeholder="What do you need?">
                                <button type="button"><i class="ti-search"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-3 text-right col-md-3">
                        <ul class="nav-right">
                            <li class="heart-icon">
                                <a href="/wishlist" data-toggle="tooltip" data-placement="top" title="Wishlist">
                                <i class="icon_heart_alt"></i>
                                <span class="shop-count-furniture green" id="wishlistItemCount"></span>
                            </a>
                            </li>
                      
                            <li class="cart-icon">
                                <a href="/shopping-cart" data-toggle="tooltip" data-placement="top" title="View Cart">
                                    <i class="icon_bag_alt"></i>
                                    <span class="shop-count-furniture green" id="cartItemCount" ></span>
                                </a>
                            </li>
                          
                        </li>
                            <li class="cart-price"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav-item">
            <div class="container">
                <div class="nav-depart">
                    <div class="depart-btn">
                        <i class="ti-menu"></i>
                        <span>All CATEGORIES</span>
                        <ul class="depart-hover">
                            <li class="active"><a href="#"></a></li>
                            <li><a href="/shop?category=Bracelets">Bracelets</a></li>
                            <li><a href="/shop?category=Earrings">Earrings</a></li>
                            <li><a href="/shop?category=Necklaces">Necklaces</a></li>
                            <li><a href="/shop?category=Rings">Rings</a></li>
                            <li><a href="/shop?category=Hand Accessories">Hand Accessories</a></li>
                            <li><a href="/shop?category=Hair Accessories">Hair Accessories</a></li>
                            <li><a href="/shop?category=Foot Accessories">Foot Accessories</a></li>
                            <li><a href="/shop?category=Bags">Bags</a></li>
                            <!-- <li><a href="/shop?category=Others">Others</a></li> -->
                        </ul>
                    </div>
                </div>
                <nav class="nav-menu mobile-menu">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/shop">Shop</a></li>
                        <li><a href="#">Collection</a>
                            <ul class="dropdown">
                                <li><a href="/shop?collection=Aafreen">Aafreen</a></li>
                                <li><a href="/shop?collection=Riwaayat">Riwaayat</a></li>
                                <li><a href="/shop?collection=Riwaz">Riwaz</a></li>
                                <li><a href="/shop?collection=Padmawat">Padmawat</a></li>
                                <li><a href="/shop?collection=Saanjh">Saanjh</a></li>
                                <li><a href="/shop?collection=Banjara">Banjara</a></li>
                                <li><a href="/shop?collection=Zaira">Zaira</a></li>

                            </ul>
                        </li>
                        <li><a href="./blog">Blog</a></li>
                        <li><a href="./contactUs">Contact</a></li>
                        <li><a href="#">PROFILE</a>
                            <ul class="dropdown">                                
                                <li><a href="/shopping-cart">Shopping Cart</a></li>
                                <li><a href="/myorders">My Orders</a></li>
                                <!-- <li><a href="./faq.html">Faq</a></li> -->
                                <!-- <li><a href="/user-signup">Register</a></li> -->
                                <!-- <li><a href="/login">Login</a></li> -->
                                <li><a href="/userProfile">Profile</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <div id="mobile-menu-wrap"></div>
            </div>
        </div>
        <style>
    /* .header-icons-container {
    display: flex;
    align-items: center;
} */

.lan-selector {
    margin-right: 20px; /* Add margin between language selector and user panel */
}
            /* Add these styles to align user name and logout in the same row */
.user-panel {
    display: flex;
    align-items:center; /* Align items vertically in the center */
}

.user-name {
    
    margin-top: 30px; /* Add margin between user name and logout */
}

.logout-panel {
    
    margin-top: 30px;  /* Add margin to separate user name and logout */
}
.user-name {
        margin-right: 10px;
        margin-bottom: 30px; /* Add margin between user name and logout */
        font-family: 'Muli', sans-serif; /* Use the same font as the email ID */
        font-size: 14px; /* Set the desired font size */
    }

    .logout-panel {
        margin-left: 20px;
        margin-bottom: 30px;  /* Add margin to separate user name and logout */
        font-family: 'Muli', sans-serif; /* Use the same font as the email ID */
        font-size: 14px; /* Set the desired font size */
    }

        </style>

    </header>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
        function confirmLogout() {
            Swal.fire({
                title: 'You have successfully logged out! ',
                icon: 'question',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, logout!'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Add a delay of 1 second (1000 milliseconds) before redirecting
                    setTimeout(() => {
                        // Redirect to the logout page after the delay
                        window.location.href = '/logout';
                    }, 0); // Adjust the delay as needed
                }
            });
        }
    </script>

<style>
    @media only screen and (max-width: 1024px) {
        .header-cart-icon {
            position: absolute;
            top: 21px;
            right: 63px;
        }

        .header-cart {
            position: absolute;
            top: 55px;
            right: 73px;
        }
    }

    @media screen and (min-width:768px) {
        .header-cart-icon {
            position: absolute;
            top: 21px;
            right: 94px;
        }

        .header-cart {
            position: absolute;
            top: 55px;
            right: 73px;
        }
    }

    @media screen and (min-width:1024px) {
        .header-cart-icon {
            position: absolute;
            top: 10px;
            right: 39px;
        }

        .header-cart {
            position: absolute;
            top: 45px;
            right: 85px;
        }
    }

    .icon-wishlist {
        font-size: 26px;
    }

    .logo-img {
        max-width: 100px;
        max-height: 100px;
    }

    #userDropdown:hover .dropdown-menu {
        display: block;
    }

    #userDropdown {
        color: #000000;
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        padding: 50px 0 51px;
        text-transform: capitalize;
    }

    .dropdown-toggle::after {
        display: none;
    }

    @keyframes pulse {
        0% {
            transform: scale(1);
            opacity: 1;
        }

        50% {
            transform: scale(1.1);
            opacity: 0.7;
        }

        100% {
            transform: scale(1);
            opacity: 1;
        }
    }

    @keyframes shake {
        0% {
            transform: translateX(0);
            color: red;
            /* Start color */
        }

        25% {
            transform: translateX(-2px);
            color: red;
            /* Mid color */
        }

        50% {
            transform: translateX(2px);
            color: red;
            /* End color */
        }

        75% {
            transform: translateX(-2px);
            color: red;
            /* Mid color */
        }

        100% {
            transform: translateX(2px);
            color: red;
            /* End color */
        }
    }

    .icon-wishlist.added {
        animation: shake 0.5s ease-in-out 3 alternate;
    }
</style>

<style>
    @media only screen and (max-width: 1024px) {
        .header-cart-icon {
            position: absolute;
            top: 21px;
            right: 63px;
        }

        .header-cart {
            position: absolute;
            top: 55px;
            right: 73px;
        }
    }

    @media screen and (min-width:768px) {
        .header-cart-icon {
            position: absolute;
            top: 21px;
            right: 94px;
        }

        .header-cart {
            position: absolute;
            top: 55px;
            right: 73px;
        }
    }

    @media screen and (min-width:1024px) {
        .header-cart-icon {
            position: absolute;
            top: 10px;
            right: 39px;
        }

        .header-cart {
            position: absolute;
            top: 45px;
            right: 85px;
        }
    }

    .icon-wishlist {
        font-size: 26px;
    }

    .logo-img {
        max-width: 100px;
        max-height: 100px;
    }

    #userDropdown:hover .dropdown-menu {
        display: block;
    }

    #userDropdown {
        color: #000000;
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        padding: 50px 0 51px;
        text-transform: capitalize;
    }

    .dropdown-toggle::after {
        display: none;
    }

    @keyframes pulse {
        0% {
            transform: scale(1);
            opacity: 1;
        }

        50% {
            transform: scale(1.1);
            opacity: 0.7;
        }

        100% {
            transform: scale(1);
            opacity: 1;
        }
    }

    @keyframes shake {
        0% {
            transform: translateX(0);
            color: red;
            /* Start color */
        }

        25% {
            transform: translateX(-2px);
            color: red;
            /* Mid color */
        }

        50% {
            transform: translateX(2px);
            color: red;
            /* End color */
        }

        75% {
            transform: translateX(-2px);
            color: red;
            /* Mid color */
        }

        100% {
            transform: translateX(2px);
            color: red;
            /* End color */
        }
    }

    .icon-wishlist.added {
        animation: shake 0.5s ease-in-out 3 alternate;
    }
</style>

<script>
// Define the function to update cart item count
function updateCartItemCount() {
    console.log('calling update function');

    const cartCount = document.getElementById('cartItemCount');
    fetch('/getCartCount')
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then((data) => {           
            cartCount.innerText = data.cartItemCount;
        })
        .catch(error => {
            console.error('Error fetching cart count:', error);
        });
}

// Call the function initially
updateCartItemCount();

// Update the cart item count every 5 seconds (adjust interval as needed)
// setInterval(updateCartItemCount, 5000);

// updateCartItemCount();

function updatewishlistItemCount() {
    const wishlistCount = document.getElementById('wishlistItemCount')
    fetch('/getwishlistCount')
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then((data) => {           
            wishlistCount.innerText = data.wishlistItemCount
          
        })
        .catch(error => {
            console.error('Error fetching cart count:', error);
        });
}

updatewishlistItemCount();

// setInterval(updatewishlistItemCount,5000);

// updatewishlistItemCount();

</script>
   

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/themify-icons@latest/css/themify-icons.css">
<script src="https://kit.fontawesome.com/2e2bb0441a.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Header End -->