<%- include('../partials/header.ejs') %>


<div class="container mt-5 d-flex justify-content-center">
    <div class="col-lg-4">
        <form id="passwordForm"  method="post" action="/changePassword">
            <div class="form-group m-4">
                <label for="Opwd">Old Password<small class="ms-2 text-danger" id="OP"></small></label>
                <input type="password" class="form-control" id="Opwd" name="oldPassword">
            </div>
            <div class="form-group m-4">
                <label for="Npwd">New Password<small class="ms-2 text-danger" id="NP"></small></label>
                <input type="password" class="form-control" id="Npwd" name="newPassword">
            </div>
            <div class="form-group m-4">
                <label for="Cpwd">Confirm Password<small class="ms-1 text-danger" id="CP"></small></label>
                <input type="password" class="form-control " id="Cpwd" name="confirmPassword">
            </div>
            <div class="text-center">
                <button type="submit" id="submitButton" class="btn btn-dark my-2 btn-block">Submit</button>
            </div>
        </form>
    </div>
</div>

<script>
    const passwordForm = document.getElementById('passwordForm');

    passwordForm.addEventListener('submit', function (event) {
        event.preventDefault();
        const oldPassword = document.getElementById("Opwd").value;
        const newPassword = document.getElementById("Npwd").value;
        const confirmPassword = document.getElementById("Cpwd").value;
        const passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,}$/;

        function validate(element,value) {
            const el = document.getElementById(element);
            el.textContent = '';

            if (value.trim() === "") {
                el.textContent = 'Field is required';
                isValid = false;
            } else if (!value.match(passwordRegex) && element!=="OP") {
                el.textContent = 'Min 8 chars. Should include(A-Z,a-z,0-9)';
                isValid = false;
            }
        }

        function validation() {
            let isValid = true;
            validate("OP",oldPassword);
            validate("NP",newPassword);
            validate("CP",confirmPassword);
            
            return isValid;

        }
        validation();

        if (newPassword !== confirmPassword) {
            Toastify({
                text: "new passwords don't match!",
                duration: 3000,
                gravity: "top",
                position: "center",
                stopOnFocus: true,
                style: {
                    background: "#CA3402"
                }
            }).showToast();
            return
        }

        if (validation()) {
            fetch('/changepassword', {
                method: 'POST',
                headers: {
                    "Content-type": "application/json",
                },
                body: JSON.stringify({
                    Opwd: oldPassword,
                    Npwd: newPassword,
                    Cpwd: confirmPassword
                })
            })
                .then(response => {
                    if (response.status === 400) {
                        return response.json();  // Add the return statement here
                    } else {
                        return response.json();
                    }
                })
                .then(data => {
                    if (!data.success) {
                        Toastify({
                            text: data.message,
                            duration: 2500,
                            gravity: "top",
                            position: "center",
                            stopOnFocus: true,
                            style: {
                                background: "#CA3020"
                            }
                        }).showToast();
                        
                    } else {
                        Swal.fire({
                            title: data.message,
                            icon: "success",
                            confirmButtonColor: "#3085d6",
                            confirmButtonText: "OK"
                        });
                        passwordForm.reset();
                    }
                    console.log(data.message);
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }
    });

</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
        </script>


<%- include('../partials/footer.ejs') %>